* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    background-color: #181f2b;
}
.btn-blue{
    color: #fff;
    background-color: #43b0cc;
    padding: 15px 120px;
    border-radius: 40px;
    text-decoration: none;
}
h2 {
    font-size: 2em;
}
a{
    text-decoration: none;
    color: #fff;
}
/*desktop*/

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2330;
    height: 200px;
    padding: 0 50px;
    font-family: 'raleway';
}
header a {
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
}

/*main*/

main {
    background-color: #1b2330;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 630px;
    height: 1050px;
}
main img{
    height: 500px;
}
.main-container {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.main-container h1{
    width: 600px;
    color: #fff;
    padding: 50px 0 30px 0;
}
.main-container h3{
    color: #fff;
    width: 600px;
    padding-bottom: 30px;
}
.main-container a:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}

/*second-container*/

.second-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1000px;
    flex-wrap: wrap;
}
#square {
    width: 500px;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 80px 50px; 
}
    #square img:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
}

/*third-container*/

.third-container{
    display: flex;
    margin: 80px 80px;
}
#third-content{
    margin: 100px 0 0 50px;
    color: #fff;
}
#third-content h2{
    width: 300px;
    margin-bottom: 20px;
}
#third-content p{
    width: 540px;
    margin-bottom: 20px;
}
#third-content a{
    position: relative;
    color: #43b0cc;
    text-decoration: none;
    border-bottom: 2px solid #43b0cc;
}
#third-content a i{
    padding-left: 5px;
    position: absolute;
    top: 4px;
}
#third-content a i:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
}

/*fourth-container*/
.fourth-container{
    display: flex;
    width: 1200px;
    height: 400px;
    margin: 200px auto;
}
.fourth-container p{
    font-size: 14px;
}
#fourth-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    height: 270px;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position-x: 35px;
}
.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 200px;
    padding: 50px 25px 25px 25px;
    color: #fff;
    background-color: #212a3d;
}
.profile {
    margin-top: 20px;
    display: flex;
    width: fit-content;
}
.profile img{
    height: 30px;
    width: 30px;
    border-radius: 100px;
}
.profile-info{
    height: 50px;
    padding-left: 10px;
    
}
.profile-info p{
    font-size: 10px;
}

/*contact*/

.contact{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 800px;
    height: 250px;
    padding: 50px;
    position: absolute;
    top: 3150px;
    color: #fff;
    background-color: #212a3d;
    border-radius: 10px;
}
.contact-input{
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    width: 700px;
}
.contact-input input{
    padding: 10px 150px;
    border-radius: 100px;
    margin-right: 20px;
    border: none;
}
.contact-input button{
    padding: 10px 40px;
    border: none;
}

/*footer*/

footer {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #0c1524;
}
.cont1{
    width: 350px;
    color: #fff;
}
.cont-content{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cont2{
    color: #fff;
}
.cont3{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}
.cont4{
    
}

/*team*/
.team{
    margin: 0 0 0 300px;
    display: flex;

}
/*.team img{
    height: 300px;
}
.member-1{
    display: flex;
    color: #fff;
    padding-bottom: 100px;
    border-left: 1px solid #43b0cc;
    border-bottom: 1px solid #43b0cc;
    border-radius: 0 10px 0 10px;
}
.profile {
    display: flex;
    flex-direction: column;
    width: 600px;
    border-right: 1px solid #43b0cc;
    border-top: 1px solid #43b0cc;
    padding: 0 50px;
    justify-content: center;
    align-content: space-between;
    height: 300px;
    border-radius: 0 10px 0 0;
}

*/
/*form*/
.formulary {
   padding: 200px 0;
   background-color: #0c1524;
}
.form-top{
    text-align: center;
    padding: 20px 0;
    color: #4ec3d4;
}
.container-form {
    margin: auto;
    background-color: #1b2230;
    border-radius: 5px;
    border: 2px solid #4ec3d4;
    width: 450px; 
}

.form {
    padding: 0 40px 30px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #f4f5f9;
}

.form-control input {
    border: 2px solid #fff;
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.form button {
    background-color: #4ec3d4;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}