* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
    background-color: #181e2a;
}
.btn-blue{
    color: #fff;
    background-color: #43b0cc;
    padding: 15px 120px;
    border-radius: 40px;
    text-decoration: none;
}
/*desktop*/

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2330;
    height: 200px;
    padding: 0 50px;
    font-family: 'raleway';
}
header a {
    color: #fff;
    text-decoration: none;
    padding-right: 50px;
}

/*main*/

main {
    background-color: #1b2330;
    height: 1000px;
}
.main-container {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.main-container h1{
    width: 600px;
    color: #fff;
    padding: 50px 0 30px 0;
}
.main-container h3{
    color: #fff;
    width: 600px;
    padding-bottom: 30px;
}
.main-container a:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}

/*second-container*/

.second-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1000px;
    flex-wrap: wrap;
}
#square {
    width: 500px;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 80px 50px; 
}
#square img:hover{
transform: scale(1.2);
transition: transform 1s ease;
}

/*third-container*/

.third-container{
    display: flex;
    margin: 80px 80px;
}
#third-content{
    margin: 100px 0 0 50px;
    color: #fff;
}
#third-content h2{
    font-size: 2em;
    width: 300px;
    margin-bottom: 20px;
}
#third-content p{
    width: 540px;
    margin-bottom: 20px;
}
#third-content a{
    position: relative;
    color: #43b0cc;
    text-decoration: none;
    border-bottom: 2px solid #43b0cc;
}
#third-content a i{
    padding-left: 5px;
    position: absolute;
    top: 4px;
}
#third-content a i:hover{
    transform: scale(1.2);
    transition: transform 1s ease;
}

/*fourth-container*/
.fourth-container{
    margin-top: 300px;
}





